.benefits {
    @extend %section;
    //використала плейсхолдер
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   
}

.benefits__items {
    // Phone styles
    @media screen and (max-width: calc(map-get($breakpoints, 'tablet') - 0.02px)) {
    width: 100%;
    }
    
    // Tablet styles
    @media screen and (min-width: map-get($breakpoints, 'tablet')) {
    width: calc((100% - (30px * 1)) / 2);
    }
    
    // Desktop styles
    @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    width: calc((100% - (30px * 3)) / 4);
    }
    }


.benefits__items:not(:last-child) {
    margin-right: 30px;
}

.benefits-icon__container {
    display: flex;
    background-color: #f5f4fa;
    border-radius: 4px;
    // width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    // @media screen and (min-width: 768px) {
    // width: 354px;
    // }
    
    // @media screen and (min-width: 1200px) {
    // width: 270px;
    // }
}

.benefits__icon {
    --color1: #212121;
    --color2: #2196f3;
}

.benefits__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.benefits__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-grey);
    // width: 270px;

    // @media screen and (min-width: 768px) {
    // width: 354px;
    // }
    
    // @media screen and (min-width: 1200px) {
    // width: 270px;
    // }
}