.benefits {
    @extend %section;
    //використала плейсхолдер
}


.benefits__list {

    display: flex;
    flex-wrap: wrap;

}

.benefits__items {

    // Phone styles
        @media screen and (max-width: calc(map-get($breakpoints, 'tablet') - 0.02px)) {
            width: 100%;
        }
    
        // Tablet styles
        @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2 * 30px) / 2);
        }
    
        // Desktop styles
        @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 4 * 30px) / 4);
        }

    }


.benefits__items:not(:last-child) {
    margin-right: 30px;
}

.benefits-icon__container {
    display: flex;
    background-color: #f5f4fa;
    border-radius: 4px;
    // width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.benefits__icon {
    --color1: #212121;
    --color2: #2196f3;
}

.benefits__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.benefits__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-grey);
    // width: 270px;

}