.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer {
    background: var(--color-hero);
}

.footer__logo {
    color: var(--common-white);
}

.footer__link {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--common-white);
    text-decoration: none;
}

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__adress {
    margin-top: 20px;
}

.footer__contact {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color var(--anim);
}

.footer__contact:hover {
    color: var(--color-blue);
    
}

.footer__contact:focus {
    color: var(--color-blue);
}

.footer__container {
    // display: flex;
    // align-items: baseline;
    // justify-content: space-between;
   text-align: center;
// Tablet styles
    @media screen and (min-width: map-get($breakpoints, 'tablet')) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }

    // Desktop styles
    @media screen and (min-width: map-get($breakpoints, 'desktop')) {
        text-align: left;
    }
}


// новое
.footer__contacts {
    margin-bottom: 60px;
    
        // Tablet styles
        @media screen and (min-width: map-get($breakpoints, 'tablet')) {
            margin-right: 165px;
        }
    
        // Desktop styles
        @media screen and (min-width: map-get($breakpoints, 'desktop')) {
            margin-right: 70px;
            margin-bottom: 0;
        }
}

.footer__socials {
// Phone styles
    @media screen and (max-width: calc(map-get($breakpoints, 'tablet') - 0.02px)) {
        margin-bottom: 60px;
    }

    // Tablet styles
    @media screen and (min-width: map-get($breakpoints, 'tablet')) {}

    // Desktop styles
    @media screen and (min-width: map-get($breakpoints, 'desktop')) {
        margin-right: auto;
    }
}

// конец нового

.footer__text {
    align-items: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--common-white);

    // Desktop styles
        @media screen and (min-width: map-get($breakpoints, 'desktop')) {
            text-align: left;
        }

}

.footer__icon {
    fill: var(--common-white);
}

.footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--anim);
}

.footer__links:hover {
    background-color: var(--color-blue);
}

.footer__links:focus {
    background-color: var(--color-blue);
}

.footer-form {
    margin: 0;
    width: 570px;
}

.footer-btn-send {
    display: flex;
    // display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    gap: 10px;
    background-color: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
    min-height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: var(--common-white);
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    // Desktop styles
        @media screen and (min-width: map-get($breakpoints, 'desktop')) {
            text-align: left;
        }
}

.footer-btn-send-icon {
    fill: var(--common-white);
}

.footer-input {
    padding: 0;
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;
    margin-right: 12px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    color: var(--common-white);
}

.footer-send-form {
    margin: 0;
    padding: 0;
    width: 570px;
}

.footer-send-blok {
    display: flex;
}
