.header {

    border: 1px solid #ececec;
    border-top: none;
    border-right: none;
    border-left: none;

}
.icon-menu {
    fill: black;
}

.header__container {
    display: flex;
    align-items: center;
}

// .logo {
//     font-family: "Raleway";
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     color: var(--color-blue);
//     text-decoration: none;
// }

// .logo__container {
//     margin-right: 93px;
// }

// .logo__span {
//     color: #000000;
// }

.contact {
    // display: none;
    // // display: flex;
    // // gap: 50px;
    // @media screen and (min-width: 768px) {
    // display: flex;
    // // flex-direction: column;
    // }
    
    // // desktop
    // @media screen and (min-width: 1200px) {
    // display: flex;
    // gap: 50px;
    // }
// Phone styles
@media screen and (max-width: calc(map-get($breakpoints, 'tablet') - 0.02px)) {
    display: none;
}

// Desktop styles
@media screen and (min-width: map-get($breakpoints, 'desktop')) {
    display: flex;
    align-items: center;
    // gap: 50px;
}

}

.contact__icon {
    fill: currentColor;
    margin-right: 10px;
}

.list {
    list-style: none;
}

.contact__link {
    /* display: block; */
    display: flex;
    align-items: center;
    // gap: 10px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-grey);
    text-decoration: none;
    // padding: 32px 0;
    transition: color var(--anim);
    // Tablet styles
        @media screen and (min-width: map-get($breakpoints, 'tablet')) {
            font-size: 12px;
        }
    
        // Desktop styles
        @media screen and (min-width: map-get($breakpoints, 'desktop')) {
            padding-top: 32px;
            padding-bottom: 32px;
    
            font-size: 14px;
            line-height: 1.14;
        }
}

.contact__link:hover {
    color: var(--color-blue);
}

.contact__link:focus {
    color: var(--color-blue);
}

.contact__item {
    // Tablet styles
    @media screen and (min-width: map-get($breakpoints, 'tablet')) and (max-width: calc(map-get($breakpoints, 'desktop') - 0.02px)) {
    &:not(:last-child) {
    margin-bottom: 10px;
    }
        }
    
    // Desktop styles
    @media screen and (min-width: map-get($breakpoints, 'desktop')) {
    &:not(:last-child) {
    margin-right: 40px;
    }
    }
}