.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}

.team {
    background: var(--secondary-color);
}

.team__item {
    background: var(--common-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team {
    @extend %section;
}

.team__img {
    width: 270px;
    height: 260px;

    border-radius: 0px;
}

.team__name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team__card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__content {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-grey);
}